.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e293b; 
  cursor: default;
}

.about-container {
  position: relative; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: #0f172a; 
  color: #e5e7eb;
  border-radius: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 10px solid transparent; 
  border-image: linear-gradient(0deg, #ff9cee, #f6d6bd, #99e2b4, #a0c4ff, #ffc6ff) 1; 
  animation: rotateBorder 5s linear infinite;
}

@keyframes rotateBorder {
  0% {
    border-image-source: linear-gradient(0deg, #ff9cee, #f6d6bd, #99e2b4, #a0c4ff, #ffc6ff); 
  }
  50% {
    border-image-source: linear-gradient(180deg, #ff9cee, #f6d6bd, #99e2b4, #a0c4ff, #ffc6ff);
  }
  100% {
    border-image-source: linear-gradient(360deg, #ff9cee, #f6d6bd, #99e2b4, #a0c4ff, #ffc6ff);
  }
}

.about-animation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.about-content {
  flex: 1;
  padding: 30px;
}

.about-title {
  font-size: 36px;
  font-weight: bold;
  color: #4ecca3; 
  margin-bottom: 20px;
}

.about-description {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.6;
  color: #cbd5e1;
  letter-spacing: 1.2px;
  font-family: "Yatra One", system-ui;
}

.hover-word {
  display: inline-block;
  transition: color 0.3s ease;
}
.hover-word:hover {
  color: #fb8b24; /* Adjust the color as needed */
}



.skills {
  margin-top: 30px;
}

.skills h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #4ecca3;
}

.skills-list {
  list-style-type: none;
  padding-left: 0;
}

.skills-list li {
  font-size: 18px;
  padding: 10px 0;
  transition: transform 0.3s;
  color: #f4f4f5; 
}

.skills-list li:hover {
  transform: scale(1.05);
}


@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-animation,
  .about-content {
    flex: 1 1 100%;
  }

  .about-title {
    font-size: 28px;
  }

  .about-description {
    font-size: 16px;
  }

  .skills h2 {
    font-size: 20px;
  }

  .skills-list li {
    font-size: 16px;
  }
}
