body{
 background-color: black;
 color: azure;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0.5rem auto;
}
.header ul{
  display: flex;
  list-style: none;
  gap: 1rem;
}
.nav-header{
  /* cursor:pointer; */
}