body {
  background-color: #222629; 
  color: #e6e6e6; 
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbars in Chrome, Safari, and Edge */
}

.invisible-scrollbar {
  scrollbar-width: none; /* Hide scrollbars in Firefox */
  -ms-overflow-style: none; /* Hide scrollbars in Internet Explorer and Edge */
}